<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">

  <!-- Statistics -->
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-indigo-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Total Sales</mat-card-title>
      <mat-card-content>
        <h2>180,200</h2>
        <easy-progress [value]="50"></easy-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-blue-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Revenue</mat-card-title>
      <mat-card-content>
        <h2>70,205</h2>
        <easy-progress [value]="70"></easy-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-green-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">Traffic</mat-card-title>
      <mat-card-content>
        <h2>1,291,922</h2>
        <easy-progress [value]="80"></easy-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="matero-col" fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="bg-teal-500 text-white">
      <mat-card-title class="f-s-12 f-w-100">New User</mat-card-title>
      <mat-card-content>
        <h2>1,922</h2>
        <easy-progress [value]="40"></easy-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="matero-col" fxFlex="100" fxFlex.gt-sm="100">
    <mat-card>
      <div id="chart1"></div>
    </mat-card>
  </div>

</div>
